{% extends 'base.html' %}
{% block title %}About Us {% endblock title %}
{% block body %}
<div class="row row-cols-1 row-cols-md-3 g-4 py-4 my-4">
  <div class="col">
    <div class="card h-100">
      <img src="static\img\linkedin.jpg" class="card-img-top" alt="..." onclick="location.href='https://www.linkedin.com/in/abhiraj-singh-rathore-2132ba1b6/';">
      <div class="card-body">
        <h5 class="card-title" onclick="location.href='https://www.linkedin.com/in/abhiraj-singh-rathore-2132ba1b6/';">Linkedin</h5>
        <p class="card-text" onclick="location.href='https://www.linkedin.com/in/abhiraj-singh-rathore-2132ba1b6/';">Connect with me on linkedin</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Abhiraj Singh Rathore</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="static\img\instagramlogo.png" class="card-img-top" alt="..." onclick="location.href='https://www.instagram.com/abi.rathore/';" >
      <div class="card-body">
        <h5 class="card-title" onclick="location.href='https://www.instagram.com/abi.rathore/';">Instagram</h5>
        <p class="card-text" onclick="location.href='https://www.instagram.com/abi.rathore/';">Follow and add me on instagram to get more closer and personal insight of me. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">@abi.rathore</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="static\img\gmaillogo.png" class="card-img-top" alt="..." onclick="location.href='https://mail.google.com/mail/u/0/#inbox';">
      <div class="card-body">
        <h5 class="card-title" onclick="location.href='https://mail.google.com/mail/u/0/#inbox';">Gmail</h5>
        <p class="card-text" onclick="location.href='https://mail.google.com/mail/u/0/#inbox';">For more professionalism I hereby provide my email on which I always am active</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">abhiraj.rathoree@gmail.com</small>
      </div>
    </div>
  </div>
</div>
<h2 py-2 my-2>Skills that I am currently working on in order to master them:</h2>
<div class="card mb-3 py-2 my-2">
  <img src="static\img\bigdata1.jfif" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Machine Learning and Data Science</h5>
    <p class="card-text">Being an intermediate Python developer I am currently trying to be a self learned Data Scientist and a Machine Learning expert so that I can explore more about AI.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
     <img src="static\img\java1.jpeg" class="card-img-bottom" alt="...">
    <h5 class="card-title">JAVA - DSA</h5>
    <p class="card-text">After learning about the basics of Java Programming I am working to strengthen my Data Structures and Algorithms.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
 
</div>

<div class="card">
  <div class="card-body">
  <img src="static\img\webd1.jpg" class="card-img-bottom" alt="...">
    <h5 class="card-title">Web Developement using Django</h5>
    <p class="card-text">Trying to develop this complete site just by using basic knowledge of HTML, CSS and The Django framework ( because python is love;) ) </p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  
</div>
<div class="card mb-3">
  <img src="static\img\chess.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Chess and Guitar</h5>
    <p class="card-text">Started playing chess beacuse I did not play the game for 5 straight years. Aim is to get my queen's gambit better again. Learning guitar to develop my music and beat sense because I lack it a lot.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
  <div class="container">

    <p class="mb-0">Designed and built with all the love in the world by <a href="https://www.linkedin.com/in/abhiraj-singh-rathore-2132ba1b6/">Abhiraj Singh Rathore</a>.</p>
    
  </div>
</footer>
{% endblock body %}
