{% extends 'base.html' %}
{% block title %}Movies and Series{% endblock title %}
{% block body %}
<div class="container marketing">
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Movies Section</h1>
        <p class="lead text-muted">“Power is power” – Cersei Lannister</p>
    
      </div>
    </div>
  </section>




    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
     
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/title/tt2084970/';">The Imitation Game  <span class="text-muted">(2014)</span></h2>
        <p class="lead">The Imitation Game is a 2014 historical drama film directed by Morten Tyldum and written by Graham Moore, based on the 1983 biography Alan Turing: The Enigma by Andrew Hodges. The movie stars Benedict Cumberbatch as British cryptanalyst Alan Turing, who decrypted German intelligence messages for the British government during the Second World War.The title of the film quotes the name of the game Alan Turing proposed for answering the question "Can machines think?", in his 1950 seminal paper "Computing Machinery and Intelligence".</p>
      </div>
      <div class="col-md-5">
         <img src="static\imgmov\imitationg.jpg" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/title/tt0068646/?ref_=fn_al_tt_1';">The Godfather  <span class="text-muted">(1972)</span></h2>
        <p class="lead">The Godfather is a 1972 American crime film directed by Francis Ford Coppola, who co-wrote the screenplay with Mario Puzo, based on Puzo's best-selling 1969 novel of the same name. The film stars Marlon Brando, Al Pacino, James Caan, Richard Castellano, Robert Duvall, Sterling Hayden, John Marley, Richard Conte, and Diane Keaton. It is the first installment in The Godfather trilogy. The story, spanning from 1945 to 1955, chronicles the Corleone family under patriarch Vito Corleone (Brando), focusing on the transformation of his youngest son, Michael Corleone (Pacino), from reluctant family outsider to ruthless mafia boss.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static\imgmov\godfather.jpg" class="d-block w-100" alt="...">

      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
     
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/title/tt0816692/?ref_=nv_sr_srsg_0';">Interstellar<span class="text-muted">(2014)</span></h2>
        <p class="lead">Interstellar is a 2014 epic science fiction film directed and produced by Christopher Nolan. It stars Matthew McConaughey, Anne Hathaway, Jessica Chastain, Bill Irwin, Ellen Burstyn, John Lithgow, Michael Caine, and Matt Damon. Set in a dystopian future where humanity is struggling to survive, the film follows a group of astronauts who travel through a wormhole near Saturn in search of a new home for mankind.</p>
      </div>
      <div class="col-md-5">
         <img src="static\imgmov\interstellar.jpg" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/title/tt1375666/?ref_=fn_al_tt_1';">Inception <span class="text-muted">2010</span></h2>
        <p class="lead">Inception is a 2010 science fiction action film written and directed by Christopher Nolan, who also produced the film with his wife, Emma Thomas. The film stars Leonardo DiCaprio as a professional thief who steals information by infiltrating the subconscious of his targets. He is offered a chance to have his criminal history erased as payment for the implantation of another person's idea into a target's subconscious.[7] The ensemble cast includes Ken Watanabe, Joseph Gordon-Levitt, Marion Cotillard, Elliot Page,[a] Tom Hardy, Dileep Rao, Cillian Murphy, Tom Berenger, and Michael Caine.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static\imgmov\inception.jpg" class="d-block w-100" alt="...">

      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
     
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/title/tt2397535/?ref_=fn_al_tt_1';">Predestination<span class="text-muted">(2014)</span></h2>
        <p class="lead">Predestination is a 2014 Australian sci-fi action thriller film[4] written and directed by Michael and Peter Spierig. The film stars Ethan Hawke, Sarah Snook, and Noah Taylor, and is based on the 1959 short story " '—All You Zombies—' " by Robert A. Heinlein.</p>
      </div>
      <div class="col-md-5">
         <img src="static\imgmov\predestination.jpg" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/title/tt0137523/?ref_=fn_al_tt_1';">Fight Club <span class="text-muted">(1999)</span></h2>
        <p class="lead">Fight Club is a 1999 American film directed by David Fincher and starring Brad Pitt, Edward Norton, and Helena Bonham Carter. It is based on the 1996 novel of the same name by Chuck Palahniuk. Norton plays the unnamed narrator, who is discontented with his white-collar job. He forms a "fight club" with soap salesman Tyler Durden (Pitt), and becomes embroiled in a relationship with a destitute woman, Marla Singer (Bonham Carter).</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static\imgmov\fightc.jpg" class="d-block w-100" alt="...">

      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
     
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/title/tt0468569/?ref_=nv_sr_srsg_0';">The Dark Knight  <span class="text-muted">(2008)</span></h2>
        <p class="lead">The Dark Knight is a 2008 superhero film directed, produced, and co-written by Christopher Nolan. Based on the DC Comics character Batman, the film is the second installment of Nolan's The Dark Knight Trilogy and a sequel to 2005's Batman Begins, starring Christian Bale and supported by Michael Caine, Heath Ledger, Gary Oldman, Aaron Eckhart, Maggie Gyllenhaal, and Morgan Freeman. In the film, Bruce Wayne / Batman (Bale), Police Lieutenant James Gordon (Oldman) and District Attorney Harvey Dent (Eckhart) form an alliance to dismantle organized crime in Gotham City, but are menaced by an anarchistic mastermind known as the Joker (Ledger), who seeks to undermine Batman's influence and throw the city into anarchy.</p>
      </div>
      <div class="col-md-5">
         <img src="static\imgmov\darkknight.jpg" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/title/tt3042408/?ref_=nv_sr_srsg_0';">Who Am I <span class="text-muted">(2014)</span></h2>
        <p class="lead">Who Am I (German: Who Am I – Kein System ist sicher; English: "Who Am I: No System Is Safe") is a 2014 German techno-thriller film directed by Baran bo Odar.[2][3] It is centered on a computer hacker group in Berlin geared towards global fame.[4] It was screened in the Contemporary World Cinema section at the 2014 Toronto International Film Festival.[5] The film was shot in Berlin and Rostock.[6] Because of its storyline and some elements, the film is often compared to Fight Club and Mr. Robot.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static\imgmov\whoami.jpg" class="d-block w-100" alt="...">

      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
     
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/find?q=skyfall&ref_=nv_sr_sm';">The Imitation Game  <span class="text-muted">(2012)</span></h2>
        <p class="lead">Skyfall is a 2012 spy film and the twenty-third in the James Bond series produced by Eon Productions. The film is the third to star Daniel Craig as fictional MI6 agent James Bond and features Javier Bardem as Raoul Silva, the villain, and Judi Dench as M. It was directed by Sam Mendes and written by Neal Purvis, Robert Wade, and John Logan, and features the theme song "Skyfall", written and performed by Adele. It was theatrically distributed by Sony Pictures Releasing.[5] The story centres on Bond investigating an attack on MI6 that leads to a wider plot by former agent Raoul Silva to discredit and kill M as revenge for abandoning him.</p>
      </div>
      <div class="col-md-5">
         <img src="static\imgmov\skyfall.jpg" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/title/tt0264464/?ref_=nv_sr_srsg_0';">Catch Me If You Can <span class="text-muted">(2002)</span></h2>
        <p class="lead">Catch Me If You Can is a 2002 American biographical crime film directed and produced by Steven Spielberg from a screenplay by Jeff Nathanson. The film stars Leonardo DiCaprio, Tom Hanks, Christopher Walken, Martin Sheen, and Nathalie Baye. The film is based on the life of Frank Abagnale, who, before his 19th birthday, successfully performed cons worth millions of dollars by posing as a Pan American World Airways pilot, a Georgia doctor and a Louisiana parish prosecutor. His foremost crime was check fraud; he became so highly skilled that the FBI later turned to him for help catching other check forgers.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static\imgmov\catchme.jpg" class="d-block w-100" alt="...">

      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
     
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/title/tt2436386/?ref_=nv_sr_srsg_0';">Project Almanac <span class="text-muted">(2015)</span></h2>
        <p class="lead">Project Almanac is a 2015 American found footage science fiction drama film directed by Dean Israelite in his directorial debut, and written by Jason Harry Pagan and Andrew Deutschman. The film stars Jonny Weston, Sofia Black-D'Elia, Sam Lerner, Allen Evangelista, Virginia Gardner and Amy Landecker. The film tells the story of a group of high school students who build a time machine.</p>
      </div>
      <div class="col-md-5">
         <img src="static\imgmov\projectalm.jpg" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" onclick="location.href='https://www.imdb.com/title/tt0119217/?ref_=nv_sr_srsg_0';">Good Will Hunting <span class="text-muted">(1997)</span></h2>
        <p class="lead">Good Will Hunting is a 1997 American drama film directed by Gus Van Sant and starring Robin Williams, Matt Damon, Ben Affleck, Minnie Driver, and Stellan Skarsgård. Written by Affleck and Damon, the film follows 20-year-old South Boston janitor Will Hunting, an unrecognized genius who, as part of a deferred prosecution agreement after assaulting a police officer, becomes a client of a therapist and studies advanced mathematics with a renowned professor. Through his therapy sessions, Will re-evaluates his relationships with his best friend, his girlfriend, and himself, facing the significant task of confronting his past and thinking about his future.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static\imgmov\goodwill.jpg" class="d-block w-100" alt="...">

      </div>
    </div>

   
    <!-- /END THE FEATURETTES -->


  </div>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"></h1>
        <p class="lead text-muted">“May the force be with you.”</p>
        <p class="lead text-muted"> -Star Wars(1977)</p>
      </div>
    </div>
  </section>  


<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
  <div class="container">

    <p class="mb-0">Designed and built with all the love in the world by  <a href="https://www.linkedin.com/in/abhiraj-singh-rathore-2132ba1b6/">Abhiraj Singh Rathore</a>.</p>
    
  </div>
</footer>

{% endblock body %}