{% extends 'base.html' %}
{% block title %}Home {% endblock title %}
{% block body %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Wallpapers</h1>
        <p class="lead text-muted">Welcome to the Wallpaper section of my website!!!</p>
        
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="static\imgwall\tony.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Iron Man(Tony Stark)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://wallpapercave.com/iron-man-4k-for-desktop-wallpapers';">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://en.wikipedia.org/wiki/Tony_Stark_(Marvel_Cinematic_Universe)';">Learn</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="static\imgwall\thor.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">God Of Thunder(Thor)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://wallpapercave.com/thor-desktop-wallpapers';">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://en.wikipedia.org/wiki/Thor_(Marvel_Cinematic_Universe)';">Learn</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static\imgwall\steve.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Captain America(Steve Rogers)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://wallpapercave.com/captain-america-desktop-wallpapers';">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="https://en.wikipedia.org/wiki/Steve_Rogers_(Marvel_Cinematic_Universe)';">Learn</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="static\imgwall\bpanther.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Black Panther (T' Challa)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href=https://wallpapercave.com/best-black-panther-desktop-wallpapers';">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://en.wikipedia.org/wiki/T%27Challa_(Marvel_Cinematic_Universe)';">Learn</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static\imgwall\widow.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Black Widow (Natasha Romanoff)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://wallpapercave.com/black-widow-computer-wallpapers';">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://en.wikipedia.org/wiki/Natasha_Romanoff_(Marvel_Cinematic_Universe)';">Learn</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static\imgwall\peter.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Spider-Man(Peter Parker)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href=https://wallpapercave.com/spider-man-hd-desktop-wallpapers';">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://en.wikipedia.org/wiki/Spider-Man_in_film#Licensing_agreement_with_Marvel_Studios';">Learn</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="static\imgwall\bucky.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Winter Soldier(Bucky)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://wallpapercave.com/the-winter-soldier-bucky-barnes-captain-america-civil-war-wallpapers';">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://en.wikipedia.org/wiki/Bucky_Barnes_(Marvel_Cinematic_Universe)';">Learn</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static\imgwall\hulk.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Hulk(Bruce Banners)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://wallpapercave.com/thor-ragnarok-hulk-wallpapers';">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://en.wikipedia.org/wiki/Bruce_Banner_(Marvel_Cinematic_Universe)';">Learn</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static\imgwall\wanda.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">Scarlett Witch(Wanda Maximoff)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://wallpapercave.com/wanda-maximoff-wallpapers';">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='https://en.wikipedia.org/wiki/Wanda_Maximoff_(Marvel_Cinematic_Universe)';">Learn</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"></h1>
        <p class="lead text-muted">“May the force be with you.”</p>
        <p class="lead text-muted"> -Star Wars(1977)</p>
      </div>
    </div>
  </section>  

</main>
<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
  <div class="container">

    <p class="mb-0">Designed and built with all the love in the world by  <a href="https://www.linkedin.com/in/abhiraj-singh-rathore-2132ba1b6/">Abhiraj Singh Rathore</a>.</p>
    
  </div>
</footer>
{% endblock body %}
